@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @keyframes glowAnimation {
    0% {
      box-shadow:
        0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 0, 255, 0.5),
        0 0 30px rgba(0, 255, 255, 0.5);
    }
    50% {
      box-shadow:
        0 0 40px rgba(255, 255, 255, 0.8),
        0 0 80px rgba(255, 0, 255, 0.8),
        0 0 120px rgba(0, 255, 255, 0.8);
    }
    100% {
      box-shadow:
        0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 0, 255, 0.5),
        0 0 30px rgba(0, 255, 255, 0.5);
    }
  }
}
