body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#tooltip {
  /* Float on top of the UI */
  position: absolute;

  /* Avoid layout interference */
  width: max-content;
  top: 0;
  left: 0;
}
